<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Well Sampler</title>
    <link rel="stylesheet" href= "/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

</head>
<body>
    
    <h2>Well Sampler 2.0</h2>

    <section data-position="add-quote">
        <h2>Add Well</h2>
    
        <form action="/addWell" method="POST">
            <input type="text" placeholder="Well Name" name="wName" id="">
            <input type="text" placeholder="Date Constructed" name="constructionDate" id="">
            <input type="number" placeholder="Well Diameter (in)" name="wDiameter" id="">
            <input type="number" placeholder="Well Depth (ft)" name="wDepth" id="">
            <input type="number" placeholder="Static Water Level (ft)" name="wSWL" id="">
            <input type="number" placeholder="Correction (ft)" name="wCorrection" id="">
            <button type="submit">Submit</button>
            <!-- <span class=".correctedWaterLevel"></span> -->
        </form>
    
      </section>

    <section data-position="quotes">
        <ul class="quotes">
          <% for(let i = 0; i < info.length; i++) {%>
            <li class="quote">
              <span><%= info[i].wellName %></span>
              <span><%= info[i].constructionDate %></span>
              <span><%= info[i].staticWL %></span>
              <span><%= info[i].wellCorrection %></span>
              <span><%= info[i].correctedSWL %></span>
              <span class="correctedWaterLevel">📏</span>
              <span class="deleteWells">🗑️</span>
           </li>
          <% } %>
        </ul>
      </section>
      

    <script src="/main.js"></script>
</body>
</html>